* {
  font-family: "Rubik", "sans-serif";
}

.backgroung-image {
  background-image: url("/pictures/corona.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#loading-message {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-weight: 1000;
  background-color: white;
  color: black;
}

.body-head {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.body-head h1 {
  font-size: xx-large;
}

.body-country {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-country form {
  display: flex;
}
.body-country input {
  height: 50px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);
  border: hidden;
  margin-left: 10px;
}
.body-country button {
  height: 50 px;
  width: 25 px;
  background-color: rgba(0, 0, 0, 0);
  border: hidden;
  cursor: pointer;
}

.body-stats {
  display: flex;
  flex-direction: column;
}

.body-today {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  align-items: center;
  margin-top: 80px;
}
.body-today-confirmed {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: orange;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 5px;
}
.body-today-recovered {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: greenyellow;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 5px;
}
.body-today-deaths {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #c50808;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 5px;
}

.todayconfirmed,
.todayrecovered,
.todaydeaths,
.totalconfirmed,
.totalrecovered,
.totaldeaths {
  display: flex;
  justify-content: center;
}

.body-total {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  align-items: center;
  margin-top: 80px;
}
.body-total-confirmed {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: orange;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 5px;
}
.body-total-recovered {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: greenyellow;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 5px;
}
.body-total-death {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #c50808;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 5px;
}

.body-today-confirmed:hover,
.body-today-recovered:hover,
.body-today-deaths:hover,
.body-total-confirmed:hover,
.body-total-recovered:hover,
.body-total-death:hover {
  transition: all 0.6s ease-in-out;
  transform: scale(1.3);
}

.body-today-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: large;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .body-stats {
    display: flex;
    flex-direction: column;
  }
  .body-head {
    font-size: large;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: medium;
  }
}

@media screen and (max-width: 599px) {
  .body-head {
    font-size: medium;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: small;
  }
}

@media screen and (max-width: 499px) {
  .body-head {
    font-size: small;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: smaller;
  }
  .body-today {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .body-total {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .body-active,
  .body-total-recovered,
  .body-total-confirmed,
  .body-total-death,
  .body-today,
  .body-today-recovered,
  .body-today-confirmed,
  .body-today-death {
    padding: 20px;
    margin-bottom: 25px;
  }
  .body-country-form {
    display: flex;
    flex-direction: column;
  }
  .backgroung-image {
    height: 200vh;
  }
}
