* {
  font-family: "Rubik", "sans-serif";
}

.backgroung-image {
  background-image: url("/pictures/corona.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.body-country {
  display: flex;
  justify-content: center;
}

.body-head {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.body-head h1 {
  font-size: xx-large;
}

.body-date-updated {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.body-country {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-country form {
  display: flex;
}

.body-country input {
  height: 50px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);
  border: hidden;
  margin-left: 10px;
}

.body-country button {
  height: 50 px;
  width: 25 px;
  background-color: rgba(0, 0, 0, 0);
  border: hidden;
  cursor: pointer;
}

.body-stats {
  display: flex;
  flex-direction: column;
}

.body-today {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  align-items: center;
  margin-top: 80px;
}

.body-today-confirmed,
.body-today-recovered,
.body-today-deaths,
.body-total-confirmed,
.body-total-recovered,
.body-total-death {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todayconfirmed,
.todayrecovered,
.todaydeaths,
.totalconfirmed,
.totalrecovered,
.totaldeaths {
  display: flex;
  justify-content: center;
}

.body-total {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  align-items: center;
  margin-top: 80px;
}

.body-today-date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .body-stats {
    display: flex;
    flex-direction: column;
  }
  .body-head {
    font-size: large;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: medium;
  }
}

@media screen and (max-width: 599px) {
  .body-head {
    font-size: medium;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: small;
  }
}

@media screen and (max-width: 499px) {
  .body-head {
    font-size: small;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: smaller;
  }
  .body-today {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .body-total {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .body-active,
  .body-total-recovered,
  .body-total-confirmed,
  .body-total-death {
    padding: 20px;
  }

  .body-country-form {
    display: flex;
    flex-direction: column;
  }
}
