* {
  font-family: "Rubik", "sans-serif";
}

.backgroung-image {
  background-image: url("/pictures/corona.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.body-head {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.body-head h1 {
  font-size: xx-large;
}

.body-date-updated {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.body-country {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-country form {
  display: flex;
}

.body-country input {
  height: 50px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0);
  border: hidden;
  margin-left: 10px;
}

.body-country button {
  height: 50 px;
  width: 25 px;
  background-color: rgba(0, 0, 0, 0);
  border: hidden;
  cursor: pointer;
}

.body-stats {
  display: flex;
  flex-direction: column;
}

.body-today {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  align-items: center;
  margin-top: 80px;
}

.body-today-confirmed,
.body-today-recovered,
.body-today-deaths,
.body-total-confirmed,
.body-total-recovered,
.body-total-death {
  cursor: pointer;
}

/* .body-today-confirmed {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
}

.body-today-confirmed:hover {
  transition: all 0.6s ease-in-out;
  transform: scale(1.5);
  background-color: orange;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 4px grey;
} */

.body-total {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  align-items: center;
  margin-top: 80px;
}

/* .body-total-confirmed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-total-confirmed:hover {
  background-color: goldenrod;
  color: white;
  transition: all 0.6s ease-in-out;
  transform: scale(1.5);
  border-radius: 5px;
  box-shadow: 2px 4px grey;
}

.body-total-recovered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-total-recovered:hover {
  color: white;
  background-color: darkgreen;
  transition: all 0.6s ease-in-out;
  transform: scale(1.5);
  border-radius: 5px;
  box-shadow: 2px 4px grey;
}

.body-total-death {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-total-death:hover {
  color: white;
  background-color: red;
  transition: all 0.6s ease-in-out;
  transform: scale(1.5);
  border-radius: 5px;
  box-shadow: 2px 4px grey;
} */

@media screen and (min-width: 600px) and (max-width: 800px) {
  .body-stats {
    display: flex;
    flex-direction: column;
  }
  .body-head {
    font-size: large;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: medium;
  }
}

@media screen and (max-width: 599px) {
  .body-head {
    font-size: medium;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: small;
  }
}

@media screen and (max-width: 499px) {
  .body-head {
    font-size: small;
  }
  .body-active,
  .body-today,
  .body-total,
  .body-updated {
    font-size: smaller;
  }
  .body-today {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .body-total {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .body-active,
  .body-total-recovered,
  .body-total-confirmed,
  .body-total-death {
    padding: 20px;
  }
}
